
.hpContainer{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    text-align: center;    
    margin-top: 20vh;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 15px;
    margin: 100px;
    
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
    padding: 50px;  
    

    img{
        height: 250px;
        justify-content: center;
     background-color: rgba(92, 88, 88, 0.149);
        border-radius: 100px;
        padding: 15px;
        
    }


    h1{
        font-size: 7vh;
    }
    

    
}
