
.hpContainer{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    text-align: center;    
    max-width: 400px;
    margin: 0 auto;
    padding-top: 2rem;

    img{
        height: 250px;
        justify-content: center;
     background-color: rgba(92, 88, 88, 0.149);
        border-radius: 50%;
        padding: 10px;
        
    }
    .highLow{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 7vh;
    }
    

    
}
