.dayContainer{
    display: flex;
    gap: 20px;
    max-width: 100%;
    overflow: auto;
    padding: 15px;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 3px !important;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .hour{
        img{
           width: 100%;
           object-fit: cover;
        }
    }
}