.cards {
  padding: 0px 5px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100px;
  // gap: 20px;
  text-align: center;
  font-size: 20px;
  &.dark {
    border: 2px solid white;
    // background-color: gray;
  }
  .accheader {
    // border: 2px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    // background-color: #f5f5f5;
    // transition: background-color 0.3s ease-in-out;

    &.dark {
      // background-color: #444;
    }

    h3 {
      margin: 0;
    }

    svg {
    }
  }
  .accbottem {
    // border: 2px solid green;
    padding: 5px 20px;
    // max-height: 0;
    // overflow: hidden;
    // transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    // opacity: 1;

    p {
        
    }
  }
}
