.darkButton{
    background: transparent;
    height: 38px;
    width: 38px;
    font-weight: bold;
    border: black 2px solid;
    border-radius: 4px;
    display: grid;
    place-content: center;
    cursor: pointer;
    svg{
        font-size: 20px;
        &:hover {
            opacity: 60%;
          }
    }
    &.dark{
        border: 1px solid white;
        color: white;
        
    }
}